@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
/* @media only screen and (max-width: 600px) { */
    body{
        /* background: #6190E8;  
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);   
        background: linear-gradient(to right, #A7BFE8, #6190E8); */
        
        background: linear-gradient(180deg, #0F2027 0%, #141E30 0.01%, #243B55 100%);
    }
    .main{
        /* margin-top: 30px; */
        /* background: #6190E8;  
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); 
        background: linear-gradient(to right, #A7BFE8, #6190E8); */
        border-radius:15px;
        background-color: #485c75;
    }
    .logincard{
        display: flex;
        flex-direction: column;
        align-items: center;
      background-color: white;
        border-radius:15px ;
        /* margin:0px 12% ; */
        padding-bottom: 100px;
    }
    .topdes{
        background-color: #485c75;
        width: 100%;
        height: 70px;
        text-align: center;
        color: white;
        border-radius: 10px 10px 0px 0px;
    }
    p{
        font-weight: 300;
        font-family: poppins;
    }
    input[type=text]{
        border: none;
        background-color: #f4f4f4;
        border-radius: 7px 7px 0px 0px;
        height: 50px;
        width: 88%;
        padding-left: 20px;

    }
    input[type=password]{
        border: none;
        background-color: #f4f4f4;
        border-radius: 0px 0px 7px 7px ;
        height: 50px;
        width: 88%;
        padding-left: 20px;

    }
    .cred{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .btnlogin{
        margin-top: 25px;
        border: none;
        
        font-weight: bold   ;
        border-radius: 50px;
        padding: 5px 75px;
        background-color: green;
        color: white;
    }
    .btnclose{
        margin-top: 10px;
        border: none;
        
        font-weight: bold   ;
        border-radius: 50px;
        padding: 5px 75px;
       border: 2px solid black;
        color: red;
    }
  

    /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}
  
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

h1{
  margin: 0;
}

/*.mainb{
  
    display: flex;
    flex-direction: column;
}

 .body1{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
 
    height: 25vh;
}
.body2{
    text-align: center;
    height: 39vh;
    justify-content: center;
}
.body3{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-top: 32%;
} */
.btnlog{
    background: #6628F9;
border-radius: 8px;
border: none;
padding: 6px 74px;
font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 18px;
/* line-height: 21px; */
/* identical to box height */
color: #FFFFFF;

}
.mainc{
    display: grid;
    height: 92vh;
    grid: 33% /100%;
}

.cont1{
justify-content: center;
text-align: center;
}
.cont2{
    justify-content: center;
    text-align: center;
    }
    .cont3{
        position:absolute;                 
        bottom: 3%;
        right: 0%;
        left: 0%;
        justify-content: center;
        text-align: center;
        }
