@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@media only screen and (max-width: 600px) {
    body{
        background: #6190E8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    .main{
        /* margin-top: 30px; */
        /* background: #6190E8;  
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); 
        background: linear-gradient(to right, #A7BFE8, #6190E8); */
        border-radius:15px;
        background-color: #485c75;
    }
    .logincard{
        display: flex;
        flex-direction: column;
        align-items: center;
      background-color: white;
        border-radius:15px ;
        /* margin:0px 12% ; */
        padding-bottom: 100px;
    }
    .topdes{
        background-color: #485c75;
        width: 100%;
        height: 70px;
        text-align: center;
        color: white;
        border-radius: 10px 10px 0px 0px;
    }
    p{
        font-weight: 300;
        font-family: poppins;
    }
    input[type=text]{
        border: none;
        background-color: #f4f4f4;
        border-radius: 7px 7px 0px 0px;
        height: 50px;
        width: 88%;
        padding-left: 20px;

    }
    input[type=password]{
        border: none;
        background-color: #f4f4f4;
        border-radius: 0px 0px 7px 7px ;
        height: 50px;
        width: 88%;
        padding-left: 20px;

    }
    .cred{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .btnlogin{
        margin-top: 25px;
        border: none;
        
        font-weight: bold   ;
        border-radius: 50px;
        padding: 5px 75px;
        background-color: green;
        color: white;
    }
    .btnclose{
        margin-top: 10px;
        border: none;
        
        font-weight: bold   ;
        border-radius: 50px;
        padding: 5px 75px;
       border: 2px solid black;
        color: red;
    }
  }
