@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
/* @media only screen and (max-width: 600px) { */
    body{
        /* background: #6190E8;  
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);   
        background: linear-gradient(to right, #A7BFE8, #6190E8); */
        
        background: linear-gradient(180deg, #0F2027 0%, #141E30 0.01%, #243B55 100%);
    }
    .main{
        /* margin-top: 30px; */
        /* background: #6190E8;  
        background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8); 
        background: linear-gradient(to right, #A7BFE8, #6190E8); */
        border-radius:30px;
        background-color: #485c75;
    }
    .modal-content{
        border: 1px solid rgba(0,0,0);
    }
    .logincard{
        display: flex;
        flex-direction: column;
        align-items: center;
      background-color: black;
        border-radius:30px ;
        /* margin:0px 12% ; */
        padding-bottom: 100px;
    }
    .topdes{
        background-color: #c4c4c4;
        width: 100%;
        height: 65px;
        text-align: center;
        justify-content: center;
        color: white;
        border-radius: 28px 28px 0px 0px;
        align-items: center;
        text-align: center;
    }
    .twobtn{
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 10%;
        margin-top: 11px;
        height: 70%;
        border-radius: 7px;
        background: #2D2D2D;
    }
    
    .btntop{
    border: none;
    background: #907DFF;
    border-radius: 7px;
    color: white;
    margin: 7px 0px 7px 0px;
    padding: 0px 15%;
    font-size: 20px;
    }
    .btntop2{
        border: none;
        background: #2D2D2D;
        color: white;
        font-size: 20px;
    }
    label{
        color: white;
    }
    input[type=text]{
        border: none;
        background-color: #2D2D2D;
        border-radius: 7px ;
        height: 50px;
        width: 88%;
        color: white;
        padding-left: 20px;
    
    }
    
    .logincred{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
        width: 90%;
    }
    input[type=password]{
        border: none;
        color: white;
        background-color: #2D2D2D;
        border-radius: 7px ;
        height: 50px;
        width: 88%;
        padding-left: 20px;
    
    }
    .cred{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .btnlogin{
        margin-top: 25px;
        border: none;
        
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.085em;
    
        border-radius: 50px;
        padding: 3% 20%;
        background-color: #907DFF;
        color: white;
    }
    .btnclose{
        margin-top: 10px;
        border: none;
        
        font-weight: bold   ;
        border-radius: 50px;
        padding: 5px 75px;
       border: 2px solid black;
        color: rgb(0, 0, 0);
    }
    
  

    /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;800&display=swap");
/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}
  
/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

h1{
  margin: 0;
}


.btnlog{
    background: #6628F9;
border-radius: 8px;
border: none;
padding: 9px 120px;
font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 18px;
/* line-height: 21px; */
/* identical to box height */
color: #FFFFFF;

}
.mainc{
    display: grid;
    height: 100vh;
    grid: 33% /100%;
}

.cont1{
justify-content: center;
text-align: center;
color: white;
}
.cont2{
    justify-content: center;
    text-align: center;
    }
    .cont3{
        position:absolute;                 
        bottom: 3%;
        right: 0%;
        left: 0%;
        justify-content: center;
        text-align: center;
        }


        .per{
            font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 43px;
/* identical to box height */


color: #FFFFFF;

        }

        span{
            font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 43px;
/* identical to box height */


color: #50C878;
        }

        .signuptext{
            font-family: Montserrat;
font-style: normal;
font-weight: 500;


/* identical to box height */


color: white;

        }
     
