.header{
    display: flex; 
    flex-direction: row;
     justify-content: space-evenly;
     margin-top: 10px;
}
.imghead{
 width: 100%;
 flex: 1 1 0px;
}
.headtext{
    flex: 1 1 0px;
    text-align: center;
}
.btnhead{
    flex: 1 1 0px;
    align-items: center;
    justify-content: flex-end;
    text-align:end;
    margin-right: 2%;
}
.logoutbtn{
    
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.pf{
    background-color: #60b672;
    border-radius: 18px;
    margin: 5% 10%;
    height: 110px;
    align-items: center;
    text-align: center;
   
}
.pfp{
    
    background-color: white;
    border-radius: 40px;
    height: 50px;
    margin: 47px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#money{
    font-size: 25px;
font-weight: 600;
color: white;
}
#tp{
font-size: medium;
color: grey;
}
#p{
color: lawngreen;
}